<% include partials/top %>

<div id="homeContainer" class="container">

  <h1 class="text-center">My Blogs List</h1>

  <ul class="list-group">
    
    <% blogs.forEach((blog) => { %>
    <a href="/blogs/<%= blog._id %>/edit" class="list-group-item list-group-item-action">
      
      <strong><%= blog.title %></strong>
      <%= blog.body %>

    </a>
    <% }) %>

  </ul>

</div>

<% include partials/bottom %>
